<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<form th:action="@{'/books/edit/' + ${book.id}}" th:object="${book}" method="post">
    <div>
        <label>ID:</label>
        <span th:text="${book.id}"></span>
    </div>
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
    </div>
    <div>
        <label>Author:</label>
        <input type="text" th:field="*{author}" />
    </div>
    <div>
        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}" />
    </div>
    <div>
        <button type="submit">Update</button>
        <a th:href="@{/books}">Cancel</a>
    </div>
</form>
</body>
</html>
