<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>List categories</title>
</head>
<body>
<div th:fragment="content" class="container body-content">
    <h1>Categories Management</h1>
    <a th:href="@{/categories/create}" class="btn btn-primary">Create New Category</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td scope="row" th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/categories/edit/{id}(id=${category.id})}"
                   class="btn btn-secondary">Edit</a>
                <a th:href="@{/categories/delete/{id}(id=${category.id})}"
                   class="btn btn-danger"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
